
<div class="container">
  <form action="/enter_race" method="post">
    <input type="text" name="player_one" placeholder="Player Name"><br>
    <input type="text" name="player_two" placeholder="Player Name"><br>
    <input type="submit" value="Start Race!">
  </form>
</div>
