<!-- <select name="" id="num_players">
 <option>2</option>
 <option>3</option>
 <option>4</option>
 <option>5</option>
 <option>6</option>
</select> -->
<form id="new-players" action="/enter_race" method="post">
  <input type="text" name="player_names[]" placeholder="Player">
  <input type="text" name="player_names[]" placeholder="Player">

  <input type="submit">
</form>

<a id="add-player" href="#">Add Player</a>