<form action="/enter_race" method="post">
  <input type="text" name="player_names[]" placeholder="Player">
  <input type="text" name="player_names[]" placeholder="Player">
  <input type="submit">
</form>